:root body{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #a9cf23;
  background-color: #fffbe6;

  font-synthesis: none;
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}


